<footer>
    <h4 class="footer_h4">
        About us
    </h4>
    <a class="footer_text" href="https://www.instagram.com/ramil_py/">
        Instagram
    </a>
    <a class="footer_text" href="https://vk.com/ramil_py">
        Vkontakte
    </a>
    <a class="footer_text" href="https://t.me/Ramil_PY">
        Telegram
    </a>
    <a class="footer_text" href="https://pastebin.com/u/ramil342343">
        Pastebin
    </a>
    <a class="footer_text" href="https://github.com/ramil342">
        GitHub
    </a>
</footer>